<mat-card>
  <form
  (submit)="onAddPost(postForm)"
  #postForm="ngForm"
  >
<mat-form-field>
<input matInput
name="title"
ngModel
required
minlength="5"
#title="ngModel"
>
<mat-error *ngIf="title.invalid">"ERROR"</mat-error>
</mat-form-field>
<mat-form-field>
<textarea
matInput rows="6"
name="content"
ngModel
required
minlength="5"
#content="ngModel"
></textarea>
<mat-error *ngIf="content.invalid">"ERROR"</mat-error>
</mat-form-field>
<button
  mat-raised-button
  color="primary"
  type="submit"
  >SavePost
</button>
</form>
</mat-card>
